<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user">User Data</a></li>
            <li><a href="/logout">Logout</a></li>
            {{if .IsAdmin}}
            <li><a href="/admin">Admin Panel</a></li>
            {{end}}
            <li><a href="/create_order">Create Order</a></li>
            <li><a href="/orders">All Orders</a></li>
        </ul>
    </nav>
    <h1>{{.Title}}</h1>
    <ul>
        {{range .Orders}}
        <li>ID: {{.ID}}, Order Name: {{.OrderName}}, Items: {{.Items}}, Created by: {{.Username}} <a href="/view_order?id={{.ID}}">View</a></li>
        {{end}}
    </ul>
    <footer>
        <p>User System - {{.Year}}</p>
    </footer>
</body>
</html>